<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/teacher/formNewListing/addAvailability}" method="post" th:object="${availability}">

    <label for ="starTime">Inizio</label>
    <input id="starTime" th:field="${availability.startTime}" type="datetime-local">
    <label for="endTime">Fine:</label>
    <input id="endTime" th:field="${availability.endTime}" type="datetime-local">
  <button type="submit"> Aggiungi</button>
</form>
</body>
</html>