.profile-picture-container {
    width: 120px;
    height: 120px;
}
.profile-placeholder-icon {
    font-size: 100px;
}
.profile-preview-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
}
